body {
    background-color: rgb(243, 243, 243);
}

.head {
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 1600px;
    justify-content: space-evenly;

}

.head0 {
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 1200px;
    justify-content: space-evenly;
    font-family: nyala;
}

.head1 {



    width: 1300px;


}

.menu {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    justify-content: space-evenly;
    font-family: nyala;
    border-bottom: 2px solid rgb(196, 187, 163);
}

.menu li {
    list-style: none;
    font-size: 25px;
}

.photo {
    height: 1200px;
    align-items: center;
    width: 2000px;

}