body {
    background: color F 4F 4F 4px;;
}

.head {
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 1600px;
    justify-content: space-evenly;

}

.head0 {
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 1200px;
    justify-content: space-evenly;


    font-family:Courier Georgia, serif ;

    font-family: jester;

    font-family: monospace;

    color: rgb(107, 103, 103);

}

.head1 {



    width: 1500px;


}

.menu {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: space-evenly;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 2px solid rgb(114, 94, 89);
    color: rgb(114, 94, 89);
    font-size: 10px;
}

.menu li {
    list-style: none;
    font-size: 25px;
}

.photo {
    height: 1000px;
    width: 1895px;
    align-items: center; 
    justify-content: center; 
    background-image: url("images/bg_vish.jpg");
    display: flex;
    background-size: cover;
    align-content: center;
    

}

.text{
    display: flex;
    top: 50%;
    color: aliceblue;
    position: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 100px;
}
.Cities{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 200px;
    gap: 70px;
    justify-content: center;
   
    
}
.Zhytomyr{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: px;
    width: px;
    border: solid;
    background: rgb(230, 218, 218);
    border-radius: 15px;
   padding-right: 15px;
   padding-left: 15px;
    padding-top: 80px;
    padding-bottom: 50px;
    border-style: none;
}
.Kyiv{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: px;
    width: px;
    border: solid;
    background: rgb(230, 218, 218);
    border-radius: 15px;
   padding-right: 15px;
   padding-left: 15px;
    padding-top: 80px;
    padding-bottom: 50px;
    border-style: none;
}    
.Lviv{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: px;
    width: px;
    border: solid;
    background: rgb(230, 218, 218);
    border-radius: 15px;
   padding-right: 15px;
   padding-left: 15px;
    padding-top: 80px;
    padding-bottom: 50px;
    border-style: none;
}
.photo1{
    height: 600px;
    width: 800px;
    padding-top: 50px;
    padding-bottom: 80px;
}
.ukraine{
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    gap: 100px;
}
.list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 800px;
    align-items: center;
    font-size: 15px;

    
}
.Volyn{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: px;
    width: px;
    border: solid;
    background: rgb(230, 218, 218);
    border-radius: 15px;
   padding-right: 15px;
   padding-left: 15px;
    padding-top: 80px;
    padding-bottom: 50px;
    border-style: none;
}
.Bukovyna{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: px;
    width: px;
    border: solid;
    background: rgb(230, 218, 218);
    border-radius: 15px;
   padding-right: 15px;
   padding-left: 15px;
    padding-top: 80px;
    padding-bottom: 50px;
    border-style: none;
}
.contacts{
    background-color: rgb(214, 214, 214);
    height: 100px;
    border-left: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    border: solid;
    border-radius: 1px;
    border-style: none;
    display: flex;
    flex-direction: row;
    width: 1890px;
    
  
}
.end{
    border-left: 2px solid rgb(165, 165, 165);
    display: flex;
    padding-left: 30px;
}
.ttt{
    width: 50 px;
    display: flex;

}
.obl{
    width: 500px;
    padding-top: 200px;
    

}
.list-top{
    font-size: 50px;
    width: 700px;
   
}
.ogo{
width: 160px;
}
.top{
    display: flex;

}
.ppp{
    padding-top: 130px;
    font-size: 30px;
}
.pot{
    display: flex;
    padding-top:100px ;
    padding-bottom: 100px;
}
.bbb{
    padding-top: 130px;
    font-size: 30px;
    padding-left:50px ;
}
.vinvin{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 100px;
    gap: 70px;
    justify-content: center;
    padding-bottom: 100px;
}